<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title><?php echo $chars; ?>'s Hash Value Table, include Hash, md5, sha1, sha224, sha256, sha384, crc32... - HASH TABLE</title>
    <link rel="stylesheet" type="text/css" href="templates/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="Keywords" content="<?php echo $chars; ?>,<?php echo join(",", array_keys($hash_rst));?>" />
    <meta name="Description" content="<?php echo $chars; ?> hash value table." />
    <link rel="shortcut icon" href="templates/favicon.ico"/>
    <link rel="bookmark" href="templates/favicon.ico"/>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?7f75839fb748fe94af50860a16bd9e87";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div id="wrapper">
        <p class="breadcrumb">
            <a href="/"><HEAD></HEAD>Home</a> &gt; <?php echo $chars; ?>
        </p>
        <span style="float:right;"><iframe src="https://ghbtns.com/github-btn.html?user=hustcc&repo=hash_text&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></span>

        <h1>`<?php echo $chars; ?>`'s Hash Value Table: </h1>
        <p>Calculate `string`'s hash value table, to http://<?php echo $_SERVER['HTTP_HOST']; ?>/<input id="string" type="text" onkeypress="if(event.keyCode==13){go();return false;}" placeholder="string need to be hashed" />.html&nbsp;<input type="button" onclick="go();" value="Go Hash" /></p>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- adapte_ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7292810486004926"
             data-ad-slot="9220497478"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <table width="100%" border="0" cellpadding="10" cellspacing="1" bgcolor="#CCCCCC" style="margin:1em 0;">
            <tbody>
                <tr>
                    <th width="25%" bgcolor="#DDEEFF">Hash</th>
                    <th width="75%" bgcolor="#DDEEFF">HASH text</th>
                </tr>
                <?php 
                    foreach ($hash_rst as $key => $value) {
                ?>
                <tr>
                    <td bgcolor="#FFFFCC"><strong><?php echo $key; ?></strong></td>
                    <td bgcolor="#FFFFCC"><a href="<?php echo $value['rst']; ?>.html"><?php echo $value['rst']; ?></a></td>
                </tr>
                <?php 
                    } 
                ?>
            </tbody>
        </table>
        <script type="text/javascript">
        function go() {
            var v = document.getElementById('string').value;
            if(v == null || v == '') {v = '/';}
            else {v = v + '.html';}
            location.href = v;
        }
        document.getElementById('string').focus();
        </script>
        <ul>
            <?php 
            $strs = "abcdefghijklmnopqrstuvwxyz 12345677890!@#$%^&*()_+-=~`[]{}\\|;':\",./<>?";
            for($i = 0; $i < strlen($strs); $i++) {
              $str = substr($strs, $i, 1);
              echo '<li><a target="_blank" href="/'.$str.'.html">'.$str.'</a></li>';
            }
            ?>
        </ul>
        <p class="footer">
            <a href="/">Hash Text</a> &gt; By aTool.org
        </p>
    </div>
</body>
</html>