<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <link rel="alternate" hreflang="en" href="http://dighash.com/" />
    <title><?php echo $chars; ?>'s Hash Value Table, include Hash, md5, sha1, sha224, sha256, sha384, crc32... - Dig HASH</title>
    <link rel="stylesheet" type="text/css" href="templates/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="Keywords" content="<?php echo $chars; ?>,<?php echo join(",", array_keys($hash_rst));?>" />
    <meta name="Description" content="<?php echo $chars; ?> hash value table, and dig the color the the hash." />
    <link rel="shortcut icon" href="templates/favicon.ico"/>
    <link rel="bookmark" href="templates/favicon.ico"/>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?7f75839fb748fe94af50860a16bd9e87";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div id="wrapper">
        <p class="breadcrumb">
            <a href="/"><HEAD></HEAD>Home</a> &gt; <?php echo $chars; ?>
        </p>
        <div style="float:right;" id="github_iframe"></div>
        <div class="bdsharebuttonbox">
            <!-- <a href="#" class="bds_more" data-cmd="more"></a> -->
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a class="bds_count" data-cmd="count"></a>
        </div>
        <h1>`<?php echo $chars; ?>`'s Hash Value Table: </h1>
        <p>to Dig `string`'s hash value table, go to http://<?php echo $_SERVER['HTTP_HOST']; ?>/<input id="string" type="text" onkeypress="if(event.keyCode==13){go();return false;}" placeholder="string need to be hashed" />.html&nbsp;<input type="button" onclick="go();" value="Dig Hash" /></p>
        <p>We can calculate the string's Hash chars, and dig <strong>the color of the hash</strong>.</p>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- adapte_ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7292810486004926"
             data-ad-slot="9220497478"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <table width="100%" border="0" cellpadding="10" cellspacing="1" bgcolor="#CCCCCC" style="margin:1em 0;">
            <tbody>
                <tr class="table_header">
                    <th width="25%">Hash</th>
                    <th width="60%">HASH text</th>
                    <th width="15%">Len</th>
                </tr>
                <?php 
                    foreach ($hash_rst as $key => $value) {
                ?>
                <tr>
                    <td bgcolor="#<?php echo $value['color']; ?>"><strong><?php echo $key; ?></strong></td>
                    <td><?php echo $value['rst']; ?></td>
                    <td><?php echo strlen($value['rst']); ?></td>
                </tr>
                <?php 
                    } 
                ?>
            </tbody>
        </table>
        <script type="text/javascript">
        function go() {
            var v = document.getElementById('string').value;
            if(v == null || v == '') {v = '/';}
            else {v = v + '.html';}
            location.href = v;
        }
        document.getElementById('string').focus();
        </script>
        <p> 1. Basic Words</p>
        <ul class="list">
            <?php 
            $strs = "abcdefghijklmnopqrstuvwxyz 12345677890!@#$%^&*()_+-=~`[]{}\\|;':\",./<>?";
            for($i = 0; $i < strlen($strs); $i++) {
              $str = substr($strs, $i, 1);
              echo '<li><a target="_blank" href="'.$str.'.html">'.$str.'</a></li>';
            }
            ?>
        </ul>
        <p> 2. Random Words</p>
        <ul class="list">
            <?php 
            for($i = 0; $i < count($random); $i++) {
              echo '<li><a target="_blank" href="'.$random[$i].'.html">'.$random[$i].'</a></li>';
            }
            ?>
        </ul>
        <p> 3. Recent Dig History</p>
        <ul class="list">
            <?php 
            for($i = 0; $i < count($history); $i++) {
              echo '<li><a target="_blank" href="'.$history[$i].'.html">'.$history[$i].'</a></li>';
            }
            ?>
        </ul>
        <p> 4. Friend links</p>
        <ul class="list">
            <li><a target="_blank" href="http://www.puavip.com/">Pua</a></li>
        </ul>
        <p class="footer">
            <a href="/">DigHash.com</a> &gt; Author By aTool.org
        </p>
    </div>

    <script type="text/javascript">
        function async_load() {
            //async load github
            var i = document.createElement("iframe");
            i.src = "https://ghbtns.com/github-btn.html?user=hustcc&repo=dig_hash&type=star&count=true";
            i.scrolling = "no";
            i.frameborder = "0";
            i.border = "0";
            i.setAttribute("frameborder", "0", 0);
            i.width = "170px";
            i.height = "20px";
            document.getElementById("github_iframe").appendChild(i);

            //baidu share
            window._bd_share_config={"common":{"bdUrl":"http://<?php echo $_SERVER['HTTP_HOST']; ?>/", "bdSnsKey":{"tsina":"2337303479","tqq":"801368329"},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='//bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
        }
        
        if (window.addEventListener) {window.addEventListener("load", async_load, false);}
        else if (window.attachEvent) {window.attachEvent("onload", async_load);}
        else {window.onload = async_load;}
    </script>
</body>
</html>